// COLORS
$color-primary : #fff;
$color-secondary : #000;
$color-third : #0a313d;
$color-fourth : #ecddcf;
$color-five : #F9B77B;


// BREAKPOINTS
$tablet: 768px;
$laptop: 1024px;

// EASE
$easingEffectNormal: cubic-bezier(.86, 0, .07, 1);
$easingEffectSwift: cubic-bezier(0, 0, .2, .92);

//TYPOS
$font-primary: 'Open Sans', serif;
$font-secondary: 'Playfair Display', Helvetica, Arial, sans-serif;